
/* Button.module.css */

@import "../../styles/variables.module.css";

/* Button Styles */
.button {
    background-color: var(--background-primary);
    color: var(--text-color-primary);
    display: block;
    height: var(--button-height-lg);

    font-size: var(--font-size-md);
    text-align: center;

    border-radius: var(--border-radius);
    border: var(--border-thin-primary);
}

/* Button onHover */
.button:hover:not(.disabled) {
    cursor: pointer;
    box-shadow: var(--box-shadow-sm);
}

.button:active:not(.disabled) {
    opacity: var(--opacity-active);
}  

/* Button Variant */
.primary, .primaryIcon {
    background-color: var(--background-secondary);
    color: var(--text-color-secondary);
}

.secondary, .secondaryIcon {
    background-color: var(--background-primary);
}

.tertiary, .tertiaryIcon {
    background-color: unset;
}

.text, .textIcon {
    background-color: unset;
    border: unset;
}

/* Button Length */
.default {
    width: 120px;
    height: 50px;
}

.stretch {
    width: 100%;
}

.stretchHalf {
    width: 50%;
}

.block {
    width: 85px;
    height: 72px;
}

/* Button Size */
.sm {
    height: var(--button-height-sm);
}

.lg {
    height: var(--button-height-lg);
}

/* Button Disabled */
.disabled {
    opacity: var(--opacity-disabled);
}

/* Button Icon */
.icon {
    display: flex;
    justify-content: center;
    align-items: center;
}
