
@import "../../styles/variables.module.css";

.playerCard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 470px;
    width: 380px;

    .playerIcon {
        background-color: var(--background-primary);
        border: var(--border-thin-primary);
        border-radius: var(--border-radius);
        height: 380px;
    }

}

.isConnected > .playerIcon,
.isConnected > .playerLabel {
    background-color: var(--background-secondary);
    box-shadow: var(--box-shadow-md);
}
