
* {
    padding: 0;
    margin: 0;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigationLogo {
    display: flex;
    align-items: center;

    .logo {
        height: var(--button-height-lg);
        margin-right: 1rem;
    }

}

.navigationSearchContainer {
    display: flex;

    .navigationSearch {
        width: 45vw;
    }

    .navigationSearch:hover {
        cursor: pointer;
    }

    .navigationFilter, .navigationSort {
        margin-left: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

}

.navigationMenu {
    display: flex;
    justify-content: center;
    align-items: center;
}
