
/* Modal.module.css */

@import "../../styles/variables.module.css";

.modalOverlay {
    background-color: var(--background-black-06);
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.modal {
    display: flex;
    padding: 0;
    background-color: var(--background-primary);
    height: 80vh;
    width: 80vw;
    border-radius: var(--border-radius);
    border: var(--border-thick-primary);
    overflow: scroll;

    .modalHeader, .modalContent, .modalFooter {
        display: flex;
    }
    
}

.onClose {
    position:inherit;
    top: 0;
    right: 0;
}
